.board {
  position: relative;
  background: url("../../../imgs/title-layout.png") no-repeat center center;
  background-size: cover;
  background-color: white;
  width: 100%;
  height: 50rem;
  padding: 3rem 5rem;
  margin: 1.5rem auto;
  border: 0.625rem solid #00ccff;
  border-radius: 2rem;
  box-shadow: #72d8f1 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.images-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image {
  position: relative;
}

.word {
  position: absolute;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.word:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#coucou1 {
  bottom: 12%;
  right: -56%;
}

#salut1 {
  top: -23%;
  right: -42%;
}
#coucou2 {
  bottom: 25%;
  left: -35%;
}

#salut2 {
  top: -8%;
  left: -19%;
}
